body {
    font-family: Arial, sans-serif;
    /* Add a variable for the background color */
    background-color: var(--bg-color);
}
h1 {
    text-align: center;
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450;
    border-radius: 10%;
}
.name{
    color: darkblue;
    font-size: 40px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.section {
    /* Add a variable for the section color */
    background-color: var(--section-color);
    padding: 30px;
    margin: 20px;
    transition: all 0.5s ease-in-out;
}
.section h2 {
    color: darkblue;
}
.section p {
    text-align: justify;
}
.section:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px gray;
}
/* Add a button to toggle the theme */
.theme-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container_profile {
    width: 79%;
    margin: 0 auto;
    /* Add a display property of flex */
    display: flex;
    /* Add a flex-wrap property of wrap */
    flex-wrap: wrap;
    background-color: var(--section-color);
   
}

.section_profile {
    /* Add a variable for the section color */
    background-color: var(--section-color);
    padding: 20px;
    margin: 10px;
    /* Add a flex property of 1 */
    flex: 1;
    align-self: center;
}

.section_profile h2 {
    color: darkblue;
}
.section_profile p {
    text-align: justify;
}
.container_profile:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px gray;
}


